* {
  margin: 0;
  padding: 0;
  background: #DDDDDD;
}
ol,li{
  list-style: none;
}
* {
  box-sizing: border-box;
}

.key-wrapper {
  text-align: center;
  margin:75px 16px;
}

#nav {

}
.row{
  margin: 10px;
  white-space: nowrap;
}

.li {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  padding: 4px 5px;
  width: 72px;
  line-height: 60px;
  position: relative;
  margin: 0 5px;
  background: #000000;
  color: #FFFFFF;
  font-size: 22px;
  font-family: Helvetica;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.li > button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.li:hover > button{
  display: inline-block;
}

#tab,#delete{
  width:130px;
  font-size: 16px;
}
#caps{
  width: 140px;
  font-size: 16px;
}
#return{
  width: 143px;
  font-size: 16px;
}
#shift{
  width: 183px;
  font-size: 16px;
}