* {
  margin: 0;
  padding: 0;
  background: #DDDDDD;
}
ol,li{
  list-style: none;
}
* {
  box-sizing: border-box;
}

.key-wrapper {
  text-align: center;
  margin:75px 16px;
  width: 1230px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.row{
  margin: 10px;
  white-space: nowrap;
}

.li {
  position: relative;
  margin: 0 5px;
  background: #000000;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  vertical-align: top;
  line-height: 60px;
  width: 72px;
  height: 72px;
  float: left;
  font-size: 22px;
}

.li > span{
  width: 20px;
  color: #FFFFFF;
  font-family: Helvetica;
  background: transparent;
  position: absolute;
  left: 26px;
  top: 6px;
}

.li > button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  border-radius: 2px;
}
.li:hover > button{
  display: inline-block;
}

#tab,#delete{
  width: 130px;
  font-size: 16px;
}
#caps{
  width: 140px;
  font-size: 16px;
}
#return{
  width: 143px;
  font-size: 16px;
}
#shift{
  width: 183px;
  font-size: 16px;
}

.li >.tab,
.li >.caps{
  top: 19px;
  left: 13px;
}
.li >.lock{
  top: 19px;
  left: 51px;;
}
.li >.delete{
  top: 19px;
  left: 71px;
}
.li >.return{
 top:19px;
 left: 87px;
}
.li > .shift{
  top: 19px;
}
.li > .shift{
  left:13px;
}
.li >.enter{
  font-size: 12px;
  top: -8px;
  left: 102px;
}